/*=========================
  footer
 ================= */
 .footer-color{
	 background: #e6e6e6;
 }
.footer-content {
	background: #E3E3E3;
	border-top: 7px solid #DDDDDD;
	padding-top: 10px;	
}
footer {  
  padding: 12px 0;
  text-align: right;
}
footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
footer a:first-child {
  border-left: 1px solid #70726F;
}
footer a .fa-facebook:hover {
  color:#3B5998;
}
footer a .fa-whatsapp:hover {
  color: #00b489;
}
footer a .fa-google-plus:hover {
  color:#BD3518;
}


/*=========================
  overlay
 ================= */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .1s ease;
  background-color: orange;
}

.col-md-3:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



