@media all and (min-width:320px) and (max-width:760px){body{font-family:"Lato",sans-serif !important;}
.cont-Nav{height:64px;float:left;position:relative;width:100%;padding:0;margin-bottom:20px;}
.hCenter-one{margin:4px auto;}
.cont-Nav li a{font-size:0.85em;font-weight:bold;padding:10px 8px 0 0;}
.abtBlock h4{padding-top:6%;text-align:center}
.knowMore h4{text-align:center;padding:1em 0 0.3em 0;}
.knowMore article p{text-align:center;}
div.people-think{display:none;}
.cpBlock h3{margin:20px 0;padding:30px 0 10px;text-align:center;width:100%;}
.cpinfoBlock{border:none;min-height:inherit;}
.cpimgBlock label{padding-bottom:3%;}
div.product-content p strong{padding-right:0;}
div.product-content p{text-align:center;}
.cpimgBlock.product-block{min-height:inherit;}
.cptopLeft.cl,.cpinfoBlock.cformat{width:100%;}
.cpinfoBlock.cformat{border:none;}
.headerBot{display:none;}
.cptopLeft{width:100%;}
.cpinfoBlock{width:100%;text-align:center;}
.cpimgBlock{width:100%;padding-top:1em;}
.cpbotLeft, .cpbotRight{width:100%;}
.cpimgBlock label{padding:5% 0 5% 0;}
.socialLinksBlock li{transform:scale(0.6);margin:0;width:77px;}
.socialLinksBlock li a{width:62px;}
.socialLinksBlock{display:table;width:350px;position:relative;top:-18px;}
.jobOpenings.row, .carrerBot.row, .jobOpenings.row, .compAddress.row, .cpBlock.row, article.row{max-width:inherit;}
.abtBlock p{text-align:center;}
.cpinfoBlock.cformat{min-height:inherit;padding-bottom:0;}
.divide-hr{padding:0;}
.abtsocialLinks h2{font-size:1.1em;padding:1em 0 0 0;width:100%;}
.abtsocialLinks{width:100%;height:110px;display:none;}
.cpBlock{padding-left:0;}
.cpinfoBlock.dformat,.cpinfoBlock.eformat{width:93%;}
.cpimgBlock.product-block-b,.cpinfoBlock.eformat,.cpinfoBlock.product-block-b{min-height:inherit;}
.cpinfoBlock.cformat p, .cpinfoBlock.dformat p, .cpinfoBlock.product-block-b p, .cpinfoBlock.eformat p{margin-top:0;}
.carrerTop h3{font-size:22px;line-height:26px;}
.carrerTop h4{margin-top:22px;font-size:18px;}
.carrerTop li{width:100%;padding-bottom:8px;}
.carrerBot h2{font-size:1.2em;padding-bottom:4%;margin:1em 0 1em 0;}
.openTrigger{padding:2% 0 3% 2%;}
.openTrigger span{line-height:20px;}
.openTrigger p{padding:0.5em 0 0.5em 0.2em;}
.openTrigger label{padding-bottom:0.3em;}
.openInner em, .minus{top:8px;right:14px;z-index:inherit;}
.openInner em.minus{top:25px;}
.cont-center h3{font-size:18px;}
.cont-center h3 .collapsible{top:31px;right:26px;height:24px;}
.centerInner li{width:100%;min-height:inherit;padding-top:0;}
.posInfo{padding-bottom:5%;}
.posInfo .reqList li{padding-bottom:0.6em;line-height:17px;margin-left:7%;}
.posInfo label{padding:3% 0 3% 3%;}
.posForm ul li{width:100%;padding:1% 0 6% 0;float:inherit;}
.carrerSubmit{float:inherit;margin:0 auto;}
.applybtn{text-align:center;position:inherit;right:inherit;bottom:0;}
h3 .openingIcon{top:-9px;}
.openContainer{margin-top:1em;}
li.up-resume label{width:100%;padding-left:0;}
li.up-resume input{padding-bottom:2em;width:100%;text-align:center;}
.carrerTop li label{font-size:15px;}
.jobBlock{display:inherit;width:100%;padding-bottom:2em;text-align:center;float:left;margin-bottom:2em;}
.jobIcon{top:-8px;}
.jobBlock label,span.align-one{padding:0;display:block;clear:both;}
.jobBlock button{top:14px;}
.addBlock{margin-top:0;width:100%;}
.addLeft ul{left:0;float:inherit;margin:0 auto;width:100%;}
.addLeft{width:100%;}
.addLeft ul li{width:32.5%;}
.addLeft address{border:none;text-align:center;width:100%;padding:0;}
.cTabs div{padding:0;text-align:center;}
.addLeft address.border-none pre{padding:0;}
.addRight{width:100%;margin-right:0;}
.addLeft ul li a{height:33px;}
.compAddress h3{clear:both;display:table;margin:0 auto;}
div.cloud-effect{display:none;}
.teamMembers .topMembers li{width:95%;}
.teamMembers .subMembers li{width:48%;}
.cpinfoBlock.cformat p strong{padding:0.5em 0 0.5em 0;}
.teamBlock h3{text-align:center;margin-top:1em;margin-bottom:1.5em;}
.pbFooter .footerBottom .row .socialMedia .socialLinks{float:none !important}
.cont-Nav li a{margin-top:0;}
.teamBlock{width:100%;}
.pRelative{position:inherit;}
.carrerTop{float:left;padding-top:20px;}
em.callback-corner{background:url(../../templates/policybazaar/img/call-back-bg.png) no-repeat left -80px;width:9px;height:70px;position:absolute;right:-9px;top:0;}
.popup-callback button em.callback-icon{background:url("../../templates/policybazaar/img/feedback-icon.png") no-repeat scroll 17px 15px;border-right:1px solid #349dca;float:left;height:69px;width:70px;}
.popup-callback button span{padding:1em 1.3em 0 1.8em;float:left;width:145px;}
.popup-callback button{background:url(../../templates/policybazaar/img/blue-bg.gif) repeat-x left top;text-shadow:1px 1px #0e3249;cursor:pointer;}
.popup-callback button em.call-icon{background:url(../../templates/policybazaar/img/feedback-icon.png) no-repeat 15px -43px;width:70px;height:70px;float:left;border-right:1px solid #06588b;}
.popup-callback button em{font-size:18px;display:block;}
.popup-callback{position:fixed;bottom:10px;right:-154px;transition:all 0.3s ease-in-out 0s;}
.popup-callback:hover{right:20px;}
.feedback{position:fixed;bottom:91px;right:-154px;transition:all 0.3s ease-in-out 0s;z-index:100;}
.feedback em.feedback-icon{background:url("../../templates/policybazaar/img/feedback-icon.png") no-repeat scroll 17px -42px;border-right:1px solid #06588b;float:left;height:69px;width:70px;}
.feedback button{background:url(../../templates/policybazaar/img/dark-blue-bg.gif) repeat-x left top;text-shadow:1px 1px #0e3249;cursor:pointer;}
em.feedback-corner{background:url(../../templates/policybazaar/img/call-back-bg.png) no-repeat left top;width:9px;height:70px;position:absolute;right:-9px;top:0;}
.morph-button{position:relative;display:block;margin:0 auto;}
.morph-button > button{position:relative;border:none;background-color:#e85657;color:#f9f6e5;text-transform:uppercase;font-weight:700;z-index:0;}
.morph-button.open > button{pointer-events:none;}
.morph-content{pointer-events:none;}
.morph-button.open .morph-content{pointer-events:auto;}
.morph-button-fixed, .morph-button-fixed .morph-content{height:80px;}
.morph-button-fixed > button{height:70px;-webkit-transition:opacity 0.1s 0.5s;transition:opacity 0.1s 0.5s;box-shadow:0 2px 12px #abacac;font-family:"Lato",sans-serif;font-size:12px;line-height:21px;z-index:1000\0;}
.morph-button-fixed.open > button{opacity:0;-webkit-transition:opacity 0.1s;transition:opacity 0.1s;}
.morph-button-fixed .morph-content{position:fixed;z-index:900;opacity:0;-webkit-transition:opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;transition:opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;}
.morph-button-fixed.open .morph-content{opacity:1;}
.morph-button-fixed .morph-content > div{visibility:hidden;height:0;opacity:0;-webkit-transition:opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;transition:opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;}
.morph-button-fixed.open .morph-content > div{visibility:visible;height:auto;opacity:1;-webkit-transition:opacity 0.3s 0.5s;transition:opacity 0.3s 0.5s;}
.morph-button-fixed.active > button{z-index:2000;}
.morph-button-fixed.active .morph-content{z-index:1900;position:fixed\0;}
.morph-button-overlay .morph-content, .morph-button-sidebar .morph-content{-webkit-transition:opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;transition:opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;}
.morph-button-overlay.open .morph-content, .morph-button-sidebar.open .morph-content{-webkit-transition:width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;transition:width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;}
.morph-button.morph-button-overlay{margin:50px auto;}
.morph-button-overlay .morph-content{overflow:hidden;background:#e85657;}
.morph-button-overlay.open .morph-content{top:0 !important;left:0 !important;width:100%;height:100%;}
.morph-button-modal::before{position:fixed;position:inherit\9;top:0;left:0;z-index:800;width:100%;height:100%;background:rgba(0, 0, 0, 0.5);content:'';opacity:0;-webkit-transition:opacity 0.5s;transition:opacity 0.5s;pointer-events:none;}
.feedback{left:0;width:24%;}
.popup-callback{bottom:-15px;right:0;}
.feedback em.feedback-icon,.popup-callback button em.callback-icon,em.feedback-corner,em.callback-corner{display:none !important;}
.popup-callback button em{display:inherit;}
.morph-button-fixed > button{height:auto;}
.popup-callback button span{padding:0 1.3em 0.3em 1.8em;width:100%;}
.morph-button-fixed, .morph-button-fixed .morph-content{width:auto;}
.popup-callback button{box-shadow:none;}
.content-style-form .submit-feedback{min-width:131px !important;width:143px;}
.morph-button-modal-2.open .feedback-content{height:100%;min-height:inherit;}
.morph-button-modal.open .morph-content{height:100%;}
.morph-button-modal .morph-content{overflow-y:scroll;overflow-x:hidden;}
.morph-button-modal:before{position:relative;}
.morph-button-modal-2.open .morph-content{margin:0;width:100%;}
.morph-button-modal.open .morph-content{left:0 !important;top:0 !important;}
.popup-callback button{min-width:180px;}
}
@media all and (min-width:768px) and (max-width:980px){.cont-Nav{height:auto;}
.cpbotLeft, .cpbotRight{width:100%;padding-bottom:0;}
div.fr{padding-bottom:6%;}
.cptopLeft.cl{width:100%;}
.bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link{width:118px;}
div.people-words span.inner-section{width:80%;}
.cptopLeft{width:100%;}
.bx-wrapper .bx-pager{bottom:0;}
.bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link{width:116px;}
div.people-words{background-size:67%;}
.bx-wrapper{margin-bottom:0;}
div.people-words span.inner-section{width:52%;float:left;position:relative;left:13em;}
div.people-words p.message{margin-top:4em;}
div.people-words span.inner-section span{margin-top:2em;}
.teamBlock h3{text-align:center;}
div.people-words-five p.message{position:relative;top:-3em;}
div.people-words-five span.inner-section span{margin-top:-52px;}
.cpinfoBlock{width:70%;border:none;min-height:98px;}
.jobOpenings.row, .carrerBot.row, .jobOpenings.row, .compAddress.row, .cpBlock.row, article.row{max-width:inherit;}
.cpinfoBlock.dformat{width:93%;}
.cpimgBlock{width:100%;}
.cpimgBlock.product-block,.cpinfoBlock.cformat{min-height:inherit;}
.cpinfoBlock.cformat{border:none;width:100%;padding-bottom:2em;}
.abtUs{text-align:center;}
div.fr{padding-bottom:0;}
.cpinfoBlock.eformat,.cpinfoBlock{border:none;width:93%;text-align:center;}
.cpimgBlock.product-block-b,.cpinfoBlock.eformat,.cpinfoBlock.product-block-b{min-height:inherit;}
.cpimgBlock label{padding:2% 0 2% 0;}
.cpTopBlock, .cpbotBlock{padding-bottom:0;text-align:center;}
.knowMore{text-align:center;}
.bottom-space{text-align:center;}
.cpBlock h3{text-align:center;padding-bottom:1em;}
.carrerTop ul{padding:0;}
.carrerTop li label{width:80%;}
.carrerTop li{width:50%;padding-bottom:10px;}
.jobOpenings.row, .carrerBot.row, .jobOpenings.row, .compAddress.row, .cpBlock.row, article.row{width:96%;}
.addLeft ul{left:0;}
.addLeft ul li{width:32%;}
.addLeft ul li a{height:34px;}
.addLeft address{border:none;}
.addLeft address.border-none pre{padding:0;}
li.up-resume label{padding-left:2em;}
li.up-resume input{padding-left:2.5em;}
.applybtn{bottom:-25px;}
.openContainer{padding-bottom:3em;}
.posForm{padding:4% 1% 1%;}
.jobBlock label{font-size:1.1em;}
.jobIcon{background-position:-104px -125px;top:-10px;width:280px;}
span.align-one{padding:0;}
.jobBlock label{padding-left:281px;}
.jobBlock button{top:-19px;}
div.cloud-effect{display:none;}
.teamMembers .topMembers li{width:49%;}
.teamMembers .subMembers li{width:33%;}
}
@media all and (min-width:480px) and (max-width:760px){.teamMembers .topMembers li{width:48%;}
.cpimgBlock label{padding-top:2%;}
}
@media all and (min-width:768px) and (max-width:1024px){.addLeft address{border:none;}
.addLeft address.border-none pre{padding:0;}
.addLeft ul li a{height:32px;}
.applybtn{bottom:-20px;}
.openContainer{padding-bottom:2em}
.posForm{padding-top:2em;}
}
